.containerRegistro{
    width: 664px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titleRegistro{
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #222222;
    margin-bottom: 62px;
}